@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Lato:wght@100&family=Poppins:wght@100;200&family=Raleway:wght@100;200&family=Roboto:wght@100;300&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.lists{
    width: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.lists h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.lists li{
    font-family: 'Inter', sans-serif;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    padding: 4px 0px
}

.lists ul{
    list-style-type: circle;
    margin: 0 0 0 28px;
    padding: 0;
}
.lists ol{
    margin: 0 0 0 28px;
    padding: 0;
}
.lists dl{
    margin: 0 0 0 28px;
    padding: 0;
}
.lists dt{
    font-family: 'Inter', sans-serif;
    color: rgb(20, 129, 172);
    font-size: 18px;
    font-weight: 300;
}
.lists dd{
    font-family: 'Inter', sans-serif;
    color: rgb(63, 63, 63);
    font-size: 16px;
    font-weight: 300;
}

.tables{
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.tables h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
}
.tables table{
    border-spacing: 0;
}
.tables table caption{
    font-family: 'Inter', sans-serif;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    padding: 15px
}
.tables table summary{
    font-family: 'Inter', sans-serif;
    color: #333;
    font-size: 20px;
    font-weight: 300;
}
.tables table summary p{
    font-family: 'Inter', sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 300;
}
.tables th, td {
    padding: 10px 20px;
    text-align: left;
    margin: 0;
}
.tables td{
    font-family: 'Inter', sans-serif;
    color: #333;
    font-size: 18px;
    font-weight: 300;
}

.tables th{
    font-family: 'Inter', sans-serif;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #8e04aa;
    color: white;
}
.tables tr:nth-child(even) {
    background-color: #f2f2f2;
}

